/* Colours 
	White: #F1F1F1;
	Dark Grey: #333;
	Blue: #22A9E1;
	Magenta: #BD4374;
*/

@import 'https://fonts.googleapis.com/css?family=Roboto';

/* Global */
html, body {
	font-family: Roboto, Helvetica, sans-serif;
	color: #333;
}
ul, ol {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: inherit;
}